* {
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
}

.all div {
    display: inline-block; 
}

   
img {
    width: 200px;
    height: 200px;
    border-radius: 200%;
    margin-right: 19px;
}


p {
    margin: 20px 0px;
}

h1 {
    margin: 33px 0px;
}

h1 , p {
    font-family: 'Lato', sans-serif;
    color: #1A213D;
}