* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.img {
    height: 100vh;
    width: 230vh;
    background-size: cover ;
    background-image: url(https://images.pexels.com/photos/7283/garden.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
}
.img .box {
    color: white;
    padding-top: 16%;
    text-align: center;
    font-size: 30px;
   
}
.box a {
    padding: 18px;
    font-size: 20px;
    color: #3A5E53;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    /* margin-top: 30px;  UNLINE ELEMENT OLDUGUNDAN YA NE UCUN OLMUR MARGIN FUNKSIYALARINI VERMEK?*/
}

.box h2, .box p {
    margin-bottom: 25px;
    /* font-weight: 50px; goturmur ne ucun */
}